In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\kinja\appdata\roaming\python\python311\site-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\kinja\appdata\roaming\python\python311\site-packages (from pyspark) (0.10.9.7)

In [2]:
!pip install findspark

Requirement already satisfied: findspark in c:\users\kinja\appdata\roaming\python\python311\site-packages (2.0.1)

In [3]:
pip show pyspark

Name: pyspark
Version: 3.4.1
Summary: Apache Spark Python API
Home-page: https://github.com/apache/spark/tree/master/python
Author: Spark Developers
Author-email: dev@spark.apache.org
License: http://www.apache.org/licenses/LICENSE-2.0
Location: C:\Users\kinja\AppData\Roaming\Python\Python311\site-packages
Requires: py4j
Required-by:
Note: you may need to restart the kernel to use updated packages.

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [6]:
spark

In [7]:
df = spark.read.option('header','true').csv('D:/Hiral/Study/PySpark/test1.csv').show()

+---+------+---------------+----+------+
| ID|  Name|Department_Name|City|Salary|
+---+------+---------------+----+------+
|  1| Sagar|            CSE|  UP| 10000|
|  2|Shivam|             IT|  MP| 15000|
|  3|  Muni|           Mech|  AP| 25000|
+---+------+---------------+----+------+

In [8]:
type(df)

NoneType

In [9]:
type(df)

NoneType

In [11]:
df.withColumnRenamed('Department_Name','Dept').show()

AttributeError: 'NoneType' object has no attribute 'withColumnRenamed'

In [12]:
df.withColumnRenamed('Department_Name','Dept').withColumnRenamed('Slry','Salary').show()

AttributeError: 'NoneType' object has no attribute 'withColumnRenamed'

In [ ]:
df.na.drop().show()

In [ ]:
df.na.drop(how='all').show()

In [ ]:
df.na.drop(how='all',thresh=2).show()

In [ ]:
df.na.drop(how='all',subset=['Salary']).show()

In [ ]:
df.na.fill('Missing Value',['Salary']).show()

In [ ]:
df.filter('Salary<=20000').show()

In [ ]:
df.filter('Salary<=15000').select(['Name','Departments']).show()

In [ ]:
df.filter(df['Salary']<=20000).show()

In [ ]:
df.groupby('Salary').sum().show()

In [ ]:
df.groupby('Departments').sum().show()

In [ ]:
df.groupby('Departments').mean().show()

In [ ]:
df.groupby('Departments').count().show()

In [ ]:
df.agg({'Salary':'sum'}).show()

In [ ]:
df.groupby('Departments').max().show()

In [ ]:
df.groupby('Departments').min().show()

In [ ]:
df.groupby('Departments').avg().show()

In [ ]:
df.orderBy('Departments').show()

In [ ]:
df.sort("Departments", ascending=False).show()

In [ ]:
df.orderBy(df.Departments.desc()).show()

In [ ]:
df.sort(df.Departments.desc()).show()

In [ ]:
df.sort(df.Name,df.Departments.desc()).show()

In [ ]:
df.select("Name","Departments").show()

In [ ]:
df.withColumn('New Salary',df['Salary']+2000).show()

In [ ]:
df.drop('New Salary').show()

## How to create RDD

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [ ]:
rdds = spark.sparkContext.parallelize([('Mumbai',1),('Pune',2),('Surat',3)])

In [ ]:
rdds

In [ ]:
rdds.collect()

In [ ]:
# Create spark session with local[5]
rdd = spark.sparkContext.parallelize(range(0,20))
print("From local[5] : "+str(rdd.getNumPartitions()))

In [ ]:
# Use parallelize with 6 partitions
rdd1 = spark.sparkContext.parallelize(range(0,25), 6)
print("parallelize : "+str(rdd1.getNumPartitions()))

rddFromFile = spark.sparkContext.textFile("D:/Hiral/Study/PySpark/EmpDetails.csv",10)
print("TextFile : "+str(rddFromFile.getNumPartitions()))

In [ ]:
# DataFrame coalesce() is used only to decrease the number of partitions.
df3 = df.coalesce(2)
print(df3.rdd.getNumPartitions())

In [ ]:
# the PySpark DataFrame repartition() method is used to increase or decrease the partitions.
df2 = df.repartition(6)
print(df2.rdd.getNumPartitions())

In [ ]:
# DataFrame example
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Dataframe.com') \
        .master("local[*]").getOrCreate()

df=spark.range(0,10)
print(df.rdd.getNumPartitions())
df.show()
df.toPandas().to_csv("test5.csv")
    #df.write.mode("overwrite").csv("D://Hiral//Study//PySpark//test2.csv")

## Create sql table in pyspark

In [ ]:
 
df.createOrReplaceTempView("Emp")
df.show()

In [ ]:
# select column from the table 
df.select("Name","Departments","Salary").show()

In [ ]:
# sql where clause
df.select("Name","Departments","Salary").where("Departments = 'IOT'").show()

In [ ]:
# Sql order by
df.select("Name","Departments","Salary").where("Departments in ('Data Science','IOT','Big Data')").orderBy("Departments").show()

In [ ]:
# Select all the columns 
df.select("*").show()

In [ ]:
# group by 
df.groupby("Departments").count().show()

In [ ]:
# alias 
from pyspark.sql.functions import when,col
from pyspark.sql import functions as F
df.select(F.col("Departments")).show()

## Aggregate Function

In [ ]:
# first() function returns the first element in a column when ignoreNulls is set to true, it returns the first non-null element.
from pyspark.sql.functions import first
df.select(first("salary")).show(truncate=False)

In [ ]:
# last() function returns the last element in a column. when ignoreNulls is set to true, it returns the last non-null element.
from pyspark.sql.functions import last
df.select(last("Salary")).show(truncate=False)

In [ ]:
# approx_count_distinct() function returns the count of distinct items in a group.
from pyspark.sql.functions import approx_count_distinct
print("approx_count_distinct: " + \
      str(df.select(approx_count_distinct("Departments")).collect()[0][0]))

In [ ]:
# avg() function returns the average of values in the input column.
from pyspark.sql.functions import avg
print("avg: " + str(df.select(avg("salary")).collect()[0][0]))

In [ ]:
# collect_set() function returns all values from an input column with duplicate values eliminated.
from pyspark.sql.functions import collect_set
df.select(collect_set("Departments")).show(truncate=False)

In [ ]:
# count() function returns number of elements in a column.
from pyspark.sql.functions import count
print("count: "+str(df.select(count("Departments")).collect()[0]))

In [ ]:
# kurtosis() function returns the kurtosis of the values in a group.
from pyspark.sql.functions import kurtosis
df.select(kurtosis("Salary")).show(truncate=False)

In [ ]:
# max() function returns the maximum value in a column.
from pyspark.sql.functions import max
df.select(max("Salary")).show(truncate=False)

In [ ]:
# min() function returns the minimum value in a column.
from pyspark.sql.functions import min
df.select(min("Salary")).show()

In [ ]:
# mean() function returns the average of the values in a column. Alias for Avg
from pyspark.sql.functions import mean 
df.select(mean("Salary")).show()

In [ ]:
# skewness() function returns the skewness of the values in a group.
from pyspark.sql.functions import skewness
df.select(skewness("Salary")).show()

In [ ]:
# stddev() alias for stddev_samp.
# stddev_samp() function returns the sample standard deviation of values in a column.
# stddev_pop() function returns the population standard deviation of the values in a column.

from pyspark.sql.functions import stddev,stddev_samp,stddev_pop
df.select(stddev("Salary"),stddev_samp("Salary"),stddev_pop("Salary")).show(truncate=False)

In [ ]:
# sum() function Returns the sum of all values in a column.
from pyspark.sql.functions import sum
df.select(sum("Salary")).show()

In [ ]:
# sumDistinct() function returns the sum of all distinct values in a column.
from pyspark.sql.functions import sumDistinct
df.select(sumDistinct("Salary")).show()

In [ ]:
# variance() alias for var_samp
# var_samp() function returns the unbiased variance of the values in a column.
# var_pop() function returns the population variance of the values in a column.
from pyspark.sql.functions import variance,var_samp,var_pop
df.select(variance("Salary"),var_samp("Salary"),var_pop("Salary")).show()

## Window Functions

In [ ]:
# row_number() window function gives the sequential row number starting from 1 to the result of each window partition.
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number
windowSpec = Window.partitionBy("Departments").orderBy("Salary")
df.withColumn("row_number",row_number().over(windowSpec)).show(truncate=False)

In [ ]:
# rank() window function provides a rank to the result within a window partition. This function leaves gaps in rank when there are ties.
from pyspark.sql.functions import rank
df.withColumn("rank",rank().over(windowSpec)).show()

In [ ]:
# dense_rank() window function is used to get the result with rank of rows within a window partition without any gaps.
from pyspark.sql.functions import dense_rank 
df.withColumn("dense_rank",dense_rank().over(windowSpec)).show()

In [ ]:
# percent_rank()
from pyspark.sql.functions import percent_rank
df.withColumn("percent_rank",percent_rank().over(windowSpec)).show()

In [ ]:
# ntile() window function returns the relative rank of result rows within a window partition.
from pyspark.sql.functions import ntile
df.withColumn("ntile",ntile(2).over(windowSpec)).show()

In [ ]:
# cume_dist() This function computes the cumulative distribution of a value within a window partition.
from pyspark.sql.functions import cume_dist
df.withColumn("cume_dist",cume_dist().over(windowSpec)).show()

In [ ]:
# lag() function allows you to access a previous row’s value within the partition based on a specified offset. 
from pyspark.sql.functions import lag
df.withColumn("lag",lag("Salary",2).over(windowSpec)).show()

In [ ]:
# lead() function retrieves the column value from the following row within the partition based on a specified offset. 
from pyspark.sql.functions import lead    
df.withColumn("lead",lead("salary",2).over(windowSpec)).show()

## PySpark SQL Date and Timestamp Functions

In [ ]:
# current_date() to get the current system date. By default, the data will be returned in yyyy-dd-mm format.
df.select(current_date().alias("current_date")).show(1)

In [ ]:
df.select(current_timestamp().alias("current_timestamp")
  ).show(1,truncate=False)

In [ ]:
# add default date filed in file 
df = df.withColumn("Date",current_date())
df.show()

In [ ]:
# uses date_format() to parses the date and converts from yyyy-dd-mm to MM-dd-yyyy format.
from pyspark.sql.functions import col
df.select(col("Date"), 
    date_format(col("Date"), "MM-dd-yyyy").alias("date_format") 
  ).show()

In [ ]:
# converts string in date format yyyy-MM-dd to a DateType yyyy-MM-dd using to_date(). 
from pyspark.sql.functions import col
df.select(col("Date"),to_date(col("Date"),"yyyy-MM-dd").alias("to_date")).show()

In [ ]:
# returns the difference between two dates using datediff().
df.select(col("Date"),datediff(current_date(),col("Date")).alias("datediff")).show()

In [ ]:
#  returns the months between two dates using months_between().
df.select(col('Date'),months_between(current_date(),col("Date")).alias("Months")).show()

In [ ]:
# truncates the date at a specified unit using trunc().
df.select(col("Date"),trunc(col('Date'),"Month").alias("Month_Trunc"),
          trunc(col("Date"),"Year").alias("Year_Trunc")).show()

In [ ]:
# adding and subtracting date and month from a given input.
df.select(col("Date"), 
    add_months(col("Date"),3).alias("add_months"), 
    add_months(col("Date"),-3).alias("sub_months"), 
    date_add(col("Date"),4).alias("date_add"), 
    date_sub(col("Date"),4).alias("date_sub") 
  ).show()

In [ ]:
# year(), month(), month(),next_day(), weekofyear()
df.select(col("Date"), 
     year(col("Date")).alias("year"), 
     month(col("Date")).alias("month"), 
     next_day(col("Date"),"Sunday").alias("next_day"), 
     weekofyear(col("Date")).alias("weekofyear") 
  ).show()

In [ ]:
# dayofweek(), dayofmonth(), dayofyear()
df.select(col("Date"),  
     dayofweek(col("Date")).alias("dayofweek"), 
     dayofmonth(col("Date")).alias("dayofmonth"), 
     dayofyear(col("Date")).alias("dayofyear"), 
  ).show()

In [ ]:
# add default time filed in file 
df = df.withColumn("Date",current_timestamp())
df.show(truncate=False)

In [ ]:
# Converts string timestamp to Timestamp type format.
df.select(col("Date"), 
    to_timestamp(col("Date"), "MM-dd-yyyy HH mm ss SSS").alias("to_timestamp") 
  ).show(truncate=False)

In [ ]:
# hour(), Minute() and second()
df.select(col("Date"), 
    hour(col("Date")).alias("hour"), 
    minute(col("Date")).alias("minute"),
    second(col("Date")).alias("second") 
  ).show(truncate=False)

## PySpark SQL Types (DataType)

In [ ]:
from pyspark.sql.types import ArrayType, IntegerType
arrayType = ArrayType(IntegerType(),False)
print(arrayType.jsonValue())
print(arrayType.simpleString())
print(arrayType.typeName())

In [ ]:
# Use ArrayType to represent arrays in a DataFrame and use ArrayType() to get an array object of a specific type.
from pyspark.sql.types import ArrayType, IntegerType
arrayType = ArrayType(IntegerType(),False)
print(arrayType.containsNull)
print(arrayType.elementType)

In [ ]:
# Use MapType to represent key-value pair in a DataFrame. Use MapType() to get a map object of a specific key and value type.
from pyspark.sql.types import MapType,StringType,IntegerType
mapType = MapType(StringType(),IntegerType())
 
print(mapType.keyType)
print(mapType.valueType)
print(mapType.valueContainsNull)

In [ ]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

states = {"NY":"New York", "CA":"California", "FL":"Florida"}
broadcastStates = spark.sparkContext.broadcast(states)

data = [("James","Smith","USA","CA"),
    ("Michael","Rose","USA","NY"),
    ("Robert","Williams","USA","CA"),
    ("Maria","Jones","USA","FL")
  ]

rdd = spark.sparkContext.parallelize(data)

def state_convert(code):
    return broadcastStates.value[code]

result = rdd.map(lambda x: (x[0],x[1],x[2],state_convert(x[3]))).collect()
print(result)

In [ ]:


import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

states = {"NY":"New York", "CA":"California", "FL":"Florida"}
broadcastStates = spark.sparkContext.broadcast(states)

data = [("James","Smith","USA","CA"),
    ("Michael","Rose","USA","NY"),
    ("Robert","Williams","USA","CA"),
    ("Maria","Jones","USA","FL")
  ]

columns = ["firstname","lastname","country","state"]
df = spark.createDataFrame(data = data, schema = columns)
df.printSchema()
df.show(truncate=False)

def state_convert(code):
    return broadcastStates.value[code]

result = df.rdd.map(lambda x: (x[0],x[1],x[2],state_convert(x[3]))).toDF(columns)
result.show(truncate=False)