## Spark installtion

In [26]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\kinja\appdata\roaming\python\python311\site-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\kinja\appdata\roaming\python\python311\site-packages (from pyspark) (0.10.9.7)

In [2]:
!pip install findspark

Requirement already satisfied: findspark in c:\users\kinja\appdata\roaming\python\python311\site-packages (2.0.1)

In [3]:
pip show pyspark

Name: pyspark
Version: 3.4.1
Summary: Apache Spark Python API
Home-page: https://github.com/apache/spark/tree/master/python
Author: Spark Developers
Author-email: dev@spark.apache.org
License: http://www.apache.org/licenses/LICENSE-2.0
Location: C:\Users\kinja\AppData\Roaming\Python\Python311\site-packages
Requires: py4j
Required-by:
Note: you may need to restart the kernel to use updated packages.

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName('Data').getOrCreate()

In [6]:
spark

In [7]:
# read the dataset
spark.read.option('header','true').csv('D:/Hiral/Study/PySpark/EmpDetails.csv').show()

+---+----------+----------+------+--------------------+---------+
| id|first_name| last_name|gender|         departments|   salary|
+---+----------+----------+------+--------------------+---------+
|  1|   Cordell|Kitchenham|  Male|Business Development|$18137.19|
|  2| Emmalynne|Fearnsides|Female|           Marketing|$64524.97|
|  3|     Jesse|   Hekkert|  Male|           Marketing|$51168.20|
|  4|     Decca|   Klimsch|  Male|           Marketing|$17827.51|
|  5|       Gib|Le Pruvost|  Male|  Product Management|$40026.02|
|  6|      Drew|  Shenfish|  Male|               Sales|$75958.90|
|  7|  Anabelle|   Burhill|Female|         Engineering|$60063.17|
|  8|  Veronika|   Forryan|Female|     Human Resources|$44482.07|
|  9|    Anthia|    Monini|Female|             Support|$81976.47|
| 10|    Keelby|   McCahey|  Male|               Legal|$60125.48|
| 11|  Rochette|   Bullick|Female|            Training|$92893.76|
| 12|    Kippie|   Duckham|  Male|             Support|$63932.62|
| 13|    Andeee|   Hanscom|Female|Business Development|$67861.20|
| 14|       Kim|    Seymer|Female|     Human Resources|$70413.48|
| 15|   Deloris|   Gabbett|Female|           Marketing|$40341.41|
| 16|      Arny|    Gravie|  Male|         Engineering|$58095.96|
| 17|  Andriana|   Swalwel|Female|  Product Management|$67978.97|
| 18|    Olenka|     Ehrat|Female|               Legal|$57446.44|
| 19|      Burk| Sallenger|  Male|Business Development|$22310.30|
| 20|    Hewitt|   Dunnett|  Male|Research and Deve...|$88120.12|
+---+----------+----------+------+--------------------+---------+
only showing top 20 rows

In [8]:
df = spark.read.option('header','true').csv('D:/Hiral/Study/PySpark/EmpDetails.csv')
df.show()

+---+----------+----------+------+--------------------+---------+
| id|first_name| last_name|gender|         departments|   salary|
+---+----------+----------+------+--------------------+---------+
|  1|   Cordell|Kitchenham|  Male|Business Development|$18137.19|
|  2| Emmalynne|Fearnsides|Female|           Marketing|$64524.97|
|  3|     Jesse|   Hekkert|  Male|           Marketing|$51168.20|
|  4|     Decca|   Klimsch|  Male|           Marketing|$17827.51|
|  5|       Gib|Le Pruvost|  Male|  Product Management|$40026.02|
|  6|      Drew|  Shenfish|  Male|               Sales|$75958.90|
|  7|  Anabelle|   Burhill|Female|         Engineering|$60063.17|
|  8|  Veronika|   Forryan|Female|     Human Resources|$44482.07|
|  9|    Anthia|    Monini|Female|             Support|$81976.47|
| 10|    Keelby|   McCahey|  Male|               Legal|$60125.48|
| 11|  Rochette|   Bullick|Female|            Training|$92893.76|
| 12|    Kippie|   Duckham|  Male|             Support|$63932.62|
| 13|    Andeee|   Hanscom|Female|Business Development|$67861.20|
| 14|       Kim|    Seymer|Female|     Human Resources|$70413.48|
| 15|   Deloris|   Gabbett|Female|           Marketing|$40341.41|
| 16|      Arny|    Gravie|  Male|         Engineering|$58095.96|
| 17|  Andriana|   Swalwel|Female|  Product Management|$67978.97|
| 18|    Olenka|     Ehrat|Female|               Legal|$57446.44|
| 19|      Burk| Sallenger|  Male|Business Development|$22310.30|
| 20|    Hewitt|   Dunnett|  Male|Research and Deve...|$88120.12|
+---+----------+----------+------+--------------------+---------+
only showing top 20 rows

In [9]:
type(df)

pyspark.sql.dataframe.DataFrame

In [10]:
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- departments: string (nullable = true)
 |-- salary: string (nullable = true)

In [11]:
# check the column name 
df.columns

['id', 'first_name', 'last_name', 'gender', 'departments', 'salary']

In [12]:
# dispaly first 2 records
df.head(2)

[Row(id='1', first_name='Cordell', last_name='Kitchenham', gender='Male', departments='Business Development', salary='$18137.19'),
 Row(id='2', first_name='Emmalynne', last_name='Fearnsides', gender='Female', departments='Marketing', salary='$64524.97')]

In [13]:
# select any particular filed 
df.select("first_name").show()

+----------+
|first_name|
+----------+
|   Cordell|
| Emmalynne|
|     Jesse|
|     Decca|
|       Gib|
|      Drew|
|  Anabelle|
|  Veronika|
|    Anthia|
|    Keelby|
|  Rochette|
|    Kippie|
|    Andeee|
|       Kim|
|   Deloris|
|      Arny|
|  Andriana|
|    Olenka|
|      Burk|
|    Hewitt|
+----------+
only showing top 20 rows

In [14]:
# display column data types
df.dtypes

[('id', 'string'),
 ('first_name', 'string'),
 ('last_name', 'string'),
 ('gender', 'string'),
 ('departments', 'string'),
 ('salary', 'string')]

In [15]:
df.describe().show()

+-------+-----------------+----------+----------+----------+-----------+---------+
|summary|               id|first_name| last_name|    gender|departments|   salary|
+-------+-----------------+----------+----------+----------+-----------+---------+
|  count|             1000|      1000|      1000|      1000|       1000|     1000|
|   mean|            500.5|      null|      null|      null|       null|     null|
| stddev|288.8194360957494|      null|      null|      null|       null|     null|
|    min|                1|   Abagail|  Ackhurst|   Agender| Accounting|$10002.37|
|    max|              999|    Zilvia|de Villier|Polygender|   Training|$94991.26|
+-------+-----------------+----------+----------+----------+-----------+---------+

In [16]:
# drop the any filed 
df.drop("last_name").show()

+---+----------+------+--------------------+---------+
| id|first_name|gender|         departments|   salary|
+---+----------+------+--------------------+---------+
|  1|   Cordell|  Male|Business Development|$18137.19|
|  2| Emmalynne|Female|           Marketing|$64524.97|
|  3|     Jesse|  Male|           Marketing|$51168.20|
|  4|     Decca|  Male|           Marketing|$17827.51|
|  5|       Gib|  Male|  Product Management|$40026.02|
|  6|      Drew|  Male|               Sales|$75958.90|
|  7|  Anabelle|Female|         Engineering|$60063.17|
|  8|  Veronika|Female|     Human Resources|$44482.07|
|  9|    Anthia|Female|             Support|$81976.47|
| 10|    Keelby|  Male|               Legal|$60125.48|
| 11|  Rochette|Female|            Training|$92893.76|
| 12|    Kippie|  Male|             Support|$63932.62|
| 13|    Andeee|Female|Business Development|$67861.20|
| 14|       Kim|Female|     Human Resources|$70413.48|
| 15|   Deloris|Female|           Marketing|$40341.41|
| 16|      Arny|  Male|         Engineering|$58095.96|
| 17|  Andriana|Female|  Product Management|$67978.97|
| 18|    Olenka|Female|               Legal|$57446.44|
| 19|      Burk|  Male|Business Development|$22310.30|
| 20|    Hewitt|  Male|Research and Deve...|$88120.12|
+---+----------+------+--------------------+---------+
only showing top 20 rows

In [18]:
# recreate drop filed 
df.na.drop().show()

+---+----------+----------+------+--------------------+---------+
| id|first_name| last_name|gender|         departments|   salary|
+---+----------+----------+------+--------------------+---------+
|  1|   Cordell|Kitchenham|  Male|Business Development|$18137.19|
|  2| Emmalynne|Fearnsides|Female|           Marketing|$64524.97|
|  3|     Jesse|   Hekkert|  Male|           Marketing|$51168.20|
|  4|     Decca|   Klimsch|  Male|           Marketing|$17827.51|
|  5|       Gib|Le Pruvost|  Male|  Product Management|$40026.02|
|  6|      Drew|  Shenfish|  Male|               Sales|$75958.90|
|  7|  Anabelle|   Burhill|Female|         Engineering|$60063.17|
|  8|  Veronika|   Forryan|Female|     Human Resources|$44482.07|
|  9|    Anthia|    Monini|Female|             Support|$81976.47|
| 10|    Keelby|   McCahey|  Male|               Legal|$60125.48|
| 11|  Rochette|   Bullick|Female|            Training|$92893.76|
| 12|    Kippie|   Duckham|  Male|             Support|$63932.62|
| 13|    Andeee|   Hanscom|Female|Business Development|$67861.20|
| 14|       Kim|    Seymer|Female|     Human Resources|$70413.48|
| 15|   Deloris|   Gabbett|Female|           Marketing|$40341.41|
| 16|      Arny|    Gravie|  Male|         Engineering|$58095.96|
| 17|  Andriana|   Swalwel|Female|  Product Management|$67978.97|
| 18|    Olenka|     Ehrat|Female|               Legal|$57446.44|
| 19|      Burk| Sallenger|  Male|Business Development|$22310.30|
| 20|    Hewitt|   Dunnett|  Male|Research and Deve...|$88120.12|
+---+----------+----------+------+--------------------+---------+
only showing top 20 rows

In [19]:
# rename any one column
df.withColumnRenamed("departments" ,"dept").show()

+---+----------+----------+------+--------------------+---------+
| id|first_name| last_name|gender|                dept|   salary|
+---+----------+----------+------+--------------------+---------+
|  1|   Cordell|Kitchenham|  Male|Business Development|$18137.19|
|  2| Emmalynne|Fearnsides|Female|           Marketing|$64524.97|
|  3|     Jesse|   Hekkert|  Male|           Marketing|$51168.20|
|  4|     Decca|   Klimsch|  Male|           Marketing|$17827.51|
|  5|       Gib|Le Pruvost|  Male|  Product Management|$40026.02|
|  6|      Drew|  Shenfish|  Male|               Sales|$75958.90|
|  7|  Anabelle|   Burhill|Female|         Engineering|$60063.17|
|  8|  Veronika|   Forryan|Female|     Human Resources|$44482.07|
|  9|    Anthia|    Monini|Female|             Support|$81976.47|
| 10|    Keelby|   McCahey|  Male|               Legal|$60125.48|
| 11|  Rochette|   Bullick|Female|            Training|$92893.76|
| 12|    Kippie|   Duckham|  Male|             Support|$63932.62|
| 13|    Andeee|   Hanscom|Female|Business Development|$67861.20|
| 14|       Kim|    Seymer|Female|     Human Resources|$70413.48|
| 15|   Deloris|   Gabbett|Female|           Marketing|$40341.41|
| 16|      Arny|    Gravie|  Male|         Engineering|$58095.96|
| 17|  Andriana|   Swalwel|Female|  Product Management|$67978.97|
| 18|    Olenka|     Ehrat|Female|               Legal|$57446.44|
| 19|      Burk| Sallenger|  Male|Business Development|$22310.30|
| 20|    Hewitt|   Dunnett|  Male|Research and Deve...|$88120.12|
+---+----------+----------+------+--------------------+---------+
only showing top 20 rows

In [20]:
# multiple column rename 
df.withColumnRenamed("departments","dept").withColumnRenamed("first_name","fname").withColumnRenamed("last_name","lname").show()

+---+---------+----------+------+--------------------+---------+
| id|    fname|     lname|gender|                dept|   salary|
+---+---------+----------+------+--------------------+---------+
|  1|  Cordell|Kitchenham|  Male|Business Development|$18137.19|
|  2|Emmalynne|Fearnsides|Female|           Marketing|$64524.97|
|  3|    Jesse|   Hekkert|  Male|           Marketing|$51168.20|
|  4|    Decca|   Klimsch|  Male|           Marketing|$17827.51|
|  5|      Gib|Le Pruvost|  Male|  Product Management|$40026.02|
|  6|     Drew|  Shenfish|  Male|               Sales|$75958.90|
|  7| Anabelle|   Burhill|Female|         Engineering|$60063.17|
|  8| Veronika|   Forryan|Female|     Human Resources|$44482.07|
|  9|   Anthia|    Monini|Female|             Support|$81976.47|
| 10|   Keelby|   McCahey|  Male|               Legal|$60125.48|
| 11| Rochette|   Bullick|Female|            Training|$92893.76|
| 12|   Kippie|   Duckham|  Male|             Support|$63932.62|
| 13|   Andeee|   Hanscom|Female|Business Development|$67861.20|
| 14|      Kim|    Seymer|Female|     Human Resources|$70413.48|
| 15|  Deloris|   Gabbett|Female|           Marketing|$40341.41|
| 16|     Arny|    Gravie|  Male|         Engineering|$58095.96|
| 17| Andriana|   Swalwel|Female|  Product Management|$67978.97|
| 18|   Olenka|     Ehrat|Female|               Legal|$57446.44|
| 19|     Burk| Sallenger|  Male|Business Development|$22310.30|
| 20|   Hewitt|   Dunnett|  Male|Research and Deve...|$88120.12|
+---+---------+----------+------+--------------------+---------+
only showing top 20 rows

In [21]:
df.na.drop(how='all').show()

+---+----------+----------+------+--------------------+---------+
| id|first_name| last_name|gender|         departments|   salary|
+---+----------+----------+------+--------------------+---------+
|  1|   Cordell|Kitchenham|  Male|Business Development|$18137.19|
|  2| Emmalynne|Fearnsides|Female|           Marketing|$64524.97|
|  3|     Jesse|   Hekkert|  Male|           Marketing|$51168.20|
|  4|     Decca|   Klimsch|  Male|           Marketing|$17827.51|
|  5|       Gib|Le Pruvost|  Male|  Product Management|$40026.02|
|  6|      Drew|  Shenfish|  Male|               Sales|$75958.90|
|  7|  Anabelle|   Burhill|Female|         Engineering|$60063.17|
|  8|  Veronika|   Forryan|Female|     Human Resources|$44482.07|
|  9|    Anthia|    Monini|Female|             Support|$81976.47|
| 10|    Keelby|   McCahey|  Male|               Legal|$60125.48|
| 11|  Rochette|   Bullick|Female|            Training|$92893.76|
| 12|    Kippie|   Duckham|  Male|             Support|$63932.62|
| 13|    Andeee|   Hanscom|Female|Business Development|$67861.20|
| 14|       Kim|    Seymer|Female|     Human Resources|$70413.48|
| 15|   Deloris|   Gabbett|Female|           Marketing|$40341.41|
| 16|      Arny|    Gravie|  Male|         Engineering|$58095.96|
| 17|  Andriana|   Swalwel|Female|  Product Management|$67978.97|
| 18|    Olenka|     Ehrat|Female|               Legal|$57446.44|
| 19|      Burk| Sallenger|  Male|Business Development|$22310.30|
| 20|    Hewitt|   Dunnett|  Male|Research and Deve...|$88120.12|
+---+----------+----------+------+--------------------+---------+
only showing top 20 rows

In [22]:
df.na.drop(how='all',thresh=2).show()

+---+----------+----------+------+--------------------+---------+
| id|first_name| last_name|gender|         departments|   salary|
+---+----------+----------+------+--------------------+---------+
|  1|   Cordell|Kitchenham|  Male|Business Development|$18137.19|
|  2| Emmalynne|Fearnsides|Female|           Marketing|$64524.97|
|  3|     Jesse|   Hekkert|  Male|           Marketing|$51168.20|
|  4|     Decca|   Klimsch|  Male|           Marketing|$17827.51|
|  5|       Gib|Le Pruvost|  Male|  Product Management|$40026.02|
|  6|      Drew|  Shenfish|  Male|               Sales|$75958.90|
|  7|  Anabelle|   Burhill|Female|         Engineering|$60063.17|
|  8|  Veronika|   Forryan|Female|     Human Resources|$44482.07|
|  9|    Anthia|    Monini|Female|             Support|$81976.47|
| 10|    Keelby|   McCahey|  Male|               Legal|$60125.48|
| 11|  Rochette|   Bullick|Female|            Training|$92893.76|
| 12|    Kippie|   Duckham|  Male|             Support|$63932.62|
| 13|    Andeee|   Hanscom|Female|Business Development|$67861.20|
| 14|       Kim|    Seymer|Female|     Human Resources|$70413.48|
| 15|   Deloris|   Gabbett|Female|           Marketing|$40341.41|
| 16|      Arny|    Gravie|  Male|         Engineering|$58095.96|
| 17|  Andriana|   Swalwel|Female|  Product Management|$67978.97|
| 18|    Olenka|     Ehrat|Female|               Legal|$57446.44|
| 19|      Burk| Sallenger|  Male|Business Development|$22310.30|
| 20|    Hewitt|   Dunnett|  Male|Research and Deve...|$88120.12|
+---+----------+----------+------+--------------------+---------+
only showing top 20 rows

In [23]:
df.na.drop(how='all',subset=['Salary']).show()

+---+----------+----------+------+--------------------+---------+
| id|first_name| last_name|gender|         departments|   salary|
+---+----------+----------+------+--------------------+---------+
|  1|   Cordell|Kitchenham|  Male|Business Development|$18137.19|
|  2| Emmalynne|Fearnsides|Female|           Marketing|$64524.97|
|  3|     Jesse|   Hekkert|  Male|           Marketing|$51168.20|
|  4|     Decca|   Klimsch|  Male|           Marketing|$17827.51|
|  5|       Gib|Le Pruvost|  Male|  Product Management|$40026.02|
|  6|      Drew|  Shenfish|  Male|               Sales|$75958.90|
|  7|  Anabelle|   Burhill|Female|         Engineering|$60063.17|
|  8|  Veronika|   Forryan|Female|     Human Resources|$44482.07|
|  9|    Anthia|    Monini|Female|             Support|$81976.47|
| 10|    Keelby|   McCahey|  Male|               Legal|$60125.48|
| 11|  Rochette|   Bullick|Female|            Training|$92893.76|
| 12|    Kippie|   Duckham|  Male|             Support|$63932.62|
| 13|    Andeee|   Hanscom|Female|Business Development|$67861.20|
| 14|       Kim|    Seymer|Female|     Human Resources|$70413.48|
| 15|   Deloris|   Gabbett|Female|           Marketing|$40341.41|
| 16|      Arny|    Gravie|  Male|         Engineering|$58095.96|
| 17|  Andriana|   Swalwel|Female|  Product Management|$67978.97|
| 18|    Olenka|     Ehrat|Female|               Legal|$57446.44|
| 19|      Burk| Sallenger|  Male|Business Development|$22310.30|
| 20|    Hewitt|   Dunnett|  Male|Research and Deve...|$88120.12|
+---+----------+----------+------+--------------------+---------+
only showing top 20 rows

In [24]:
df.na.fill('Missing Value',['Salary']).show()

+---+----------+----------+------+--------------------+---------+
| id|first_name| last_name|gender|         departments|   salary|
+---+----------+----------+------+--------------------+---------+
|  1|   Cordell|Kitchenham|  Male|Business Development|$18137.19|
|  2| Emmalynne|Fearnsides|Female|           Marketing|$64524.97|
|  3|     Jesse|   Hekkert|  Male|           Marketing|$51168.20|
|  4|     Decca|   Klimsch|  Male|           Marketing|$17827.51|
|  5|       Gib|Le Pruvost|  Male|  Product Management|$40026.02|
|  6|      Drew|  Shenfish|  Male|               Sales|$75958.90|
|  7|  Anabelle|   Burhill|Female|         Engineering|$60063.17|
|  8|  Veronika|   Forryan|Female|     Human Resources|$44482.07|
|  9|    Anthia|    Monini|Female|             Support|$81976.47|
| 10|    Keelby|   McCahey|  Male|               Legal|$60125.48|
| 11|  Rochette|   Bullick|Female|            Training|$92893.76|
| 12|    Kippie|   Duckham|  Male|             Support|$63932.62|
| 13|    Andeee|   Hanscom|Female|Business Development|$67861.20|
| 14|       Kim|    Seymer|Female|     Human Resources|$70413.48|
| 15|   Deloris|   Gabbett|Female|           Marketing|$40341.41|
| 16|      Arny|    Gravie|  Male|         Engineering|$58095.96|
| 17|  Andriana|   Swalwel|Female|  Product Management|$67978.97|
| 18|    Olenka|     Ehrat|Female|               Legal|$57446.44|
| 19|      Burk| Sallenger|  Male|Business Development|$22310.30|
| 20|    Hewitt|   Dunnett|  Male|Research and Deve...|$88120.12|
+---+----------+----------+------+--------------------+---------+
only showing top 20 rows

## Aggregate Functions

In [28]:
df.filter('Salary<=15000').show()

+---+----------+---------+------+-----------+------+
| id|first_name|last_name|gender|departments|salary|
+---+----------+---------+------+-----------+------+
+---+----------+---------+------+-----------+------+

In [30]:
df.filter('Salary<=15000').select(['first_name','Departments']).show()

+----------+-----------+
|first_name|Departments|
+----------+-----------+
+----------+-----------+

In [36]:
df.filter(df['Salary']<=20000).show()

+---+----------+---------+------+-----------+------+
| id|first_name|last_name|gender|departments|salary|
+---+----------+---------+------+-----------+------+
+---+----------+---------+------+-----------+------+

In [32]:
df.groupby('Salary').sum().show()

+---------+
|   Salary|
+---------+
|$88606.72|
|$28503.19|
|$17827.51|
|$85716.98|
|$87452.76|
|$23612.46|
|$34251.94|
|$61924.53|
|$46558.71|
|$92626.92|
|$32863.78|
|$87424.29|
|$85569.52|
|$53982.39|
|$75267.28|
|$44449.20|
|$20099.74|
|$62899.59|
|$88043.96|
|$79325.49|
+---------+
only showing top 20 rows

In [37]:
df.groupby('Departments').sum().show()

+--------------------+
|         Departments|
+--------------------+
|            Services|
|  Product Management|
|               Sales|
|         Engineering|
|          Accounting|
|Business Development|
|Research and Deve...|
|               Legal|
|            Training|
|           Marketing|
|             Support|
|     Human Resources|
+--------------------+

In [38]:
df.groupby('Departments').mean().show()

+--------------------+
|         Departments|
+--------------------+
|            Services|
|  Product Management|
|               Sales|
|         Engineering|
|          Accounting|
|Business Development|
|Research and Deve...|
|               Legal|
|            Training|
|           Marketing|
|             Support|
|     Human Resources|
+--------------------+

In [39]:
df.groupby('Departments').count().show()

+--------------------+-----+
|         Departments|count|
+--------------------+-----+
|            Services|   80|
|  Product Management|   68|
|               Sales|   91|
|         Engineering|   82|
|          Accounting|   86|
|Business Development|   95|
|Research and Deve...|   77|
|               Legal|   87|
|            Training|   87|
|           Marketing|   85|
|             Support|   82|
|     Human Resources|   80|
+--------------------+-----+

In [40]:
df.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|       null|
+-----------+

In [41]:
df.groupby('Departments').max().show()

+--------------------+
|         Departments|
+--------------------+
|            Services|
|  Product Management|
|               Sales|
|         Engineering|
|          Accounting|
|Business Development|
|Research and Deve...|
|               Legal|
|            Training|
|           Marketing|
|             Support|
|     Human Resources|
+--------------------+

In [42]:
df.groupby('Departments').min().show()

+--------------------+
|         Departments|
+--------------------+
|            Services|
|  Product Management|
|               Sales|
|         Engineering|
|          Accounting|
|Business Development|
|Research and Deve...|
|               Legal|
|            Training|
|           Marketing|
|             Support|
|     Human Resources|
+--------------------+

In [51]:
df.groupby('last_name').avg().show()

+-----------+
|  last_name|
+-----------+
|    Scimone|
|      Renol|
|   Chesswas|
|    Harmant|
|   Moreland|
|    Meyrick|
|  Worcester|
|   Shenfish|
|       Chad|
|  O'Canavan|
|  Dollimore|
|    Salvage|
|   McQuilty|
|     Bernot|
|     Gronno|
|     Bowmen|
|Brigginshaw|
|        Pre|
|      Robke|
|   Harrison|
+-----------+
only showing top 20 rows

In [50]:
df.orderBy('first_name').show()

+---+----------+-----------+------+--------------------+---------+
| id|first_name|  last_name|gender|         departments|   salary|
+---+----------+-----------+------+--------------------+---------+
| 25|   Abagail| Trowbridge|Female|            Training|$24588.29|
|390|     Abbey| Spilsburie|  Male|     Human Resources|$65361.18|
|334|      Abbi|     Muscat|Female|           Marketing|$60297.08|
|662|     Abdul|    Knights|  Male|         Engineering|$32116.71|
|788|     Abran| Nethercott|  Male|            Training|$15081.61|
|387|   Adaline|    Isworth|Female|               Sales|$55559.02|
|934|     Addie|     Sapson|Female|Business Development|$85569.52|
|990|   Addison|      Glyde|  Male|  Product Management|$21416.12|
|357|       Ade|     Bruhke|  Male|            Training|$45017.42|
|410|   Adelind|     Toulch|Female|Business Development|$54726.98|
|763|     Adham|    Sedgman|  Male|            Services|$47049.29|
| 73|     Adrea|    Barnett|Female|               Sales|$31957.59|
| 28|     Adrea|    O'Devey|Female|           Marketing|$58994.30|
|509|  Adriaens|  MacKibbon|Female|     Human Resources|$20214.96|
|374|   Aeriela|   Holhouse|Female|  Product Management|$16151.71|
|414|     Agace| Fillingham|Female|               Legal|$34878.01|
|621|    Agnola|Crosthwaite|Female|          Accounting|$84983.48|
|226|   Agretha|    Treweke|Female|             Support|$93527.11|
|711|     Ailey|      Malan|Female|               Legal|$74259.82|
|553|      Alan|     Golson|  Male|               Legal|$16616.99|
+---+----------+-----------+------+--------------------+---------+
only showing top 20 rows

In [45]:
df.sort("Departments", ascending=False).show()

+---+----------+------------+-----------+-----------+---------+
| id|first_name|   last_name|     gender|departments|   salary|
+---+----------+------------+-----------+-----------+---------+
|165| Hollyanne|      Corris|     Female|   Training|$33279.03|
|341|      Pepe|    Kidstoun|       Male|   Training|$12911.06|
|173|   Ceciley|      Chuter|     Female|   Training|$23690.15|
| 25|   Abagail|  Trowbridge|     Female|   Training|$24588.29|
|174|     Heidi|    Pinckney|Genderfluid|   Training|$65455.38|
| 87|    Goldia|      Gooley|     Female|   Training|$88893.00|
|189|     Leola|  Woollaston|     Female|   Training|$47627.00|
| 94|  Maryrose|     McCoole|     Female|   Training|$56349.70|
|191|    Thelma|      Dorsey|     Female|   Training|$63890.10|
|106|   Pinchas|        Lyfe|       Male|   Training|$75035.24|
|198|    Lucias|        Emor|       Male|   Training|$76813.92|
|127|   Horacio|    McQuaker|       Male|   Training|$10254.37|
|201|   Mahmoud|     Andrieu|       Male|   Training|$49659.53|
|153|    Andres|de Glanville| Polygender|   Training|$36301.53|
|219|     Isaac|      Sprott|       Male|   Training|$51845.93|
|272|   Jeanine|      Friatt|Genderqueer|   Training|$55396.91|
|329|    Magnum|    McFadden|       Male|   Training|$36970.62|
|290|     Peggi|     Bretton|     Female|   Training|$17841.43|
| 45|   Hartley|     Faughey|       Male|   Training|$86452.02|
|292|    Gayler|     Dunkirk|       Male|   Training|$44342.16|
+---+----------+------------+-----------+-----------+---------+
only showing top 20 rows

In [49]:
df.orderBy(df.departments.desc()).show()

+---+----------+------------+-----------+-----------+---------+
| id|first_name|   last_name|     gender|departments|   salary|
+---+----------+------------+-----------+-----------+---------+
|165| Hollyanne|      Corris|     Female|   Training|$33279.03|
|341|      Pepe|    Kidstoun|       Male|   Training|$12911.06|
|173|   Ceciley|      Chuter|     Female|   Training|$23690.15|
| 25|   Abagail|  Trowbridge|     Female|   Training|$24588.29|
|174|     Heidi|    Pinckney|Genderfluid|   Training|$65455.38|
| 87|    Goldia|      Gooley|     Female|   Training|$88893.00|
|189|     Leola|  Woollaston|     Female|   Training|$47627.00|
| 94|  Maryrose|     McCoole|     Female|   Training|$56349.70|
|191|    Thelma|      Dorsey|     Female|   Training|$63890.10|
|106|   Pinchas|        Lyfe|       Male|   Training|$75035.24|
|198|    Lucias|        Emor|       Male|   Training|$76813.92|
|127|   Horacio|    McQuaker|       Male|   Training|$10254.37|
|201|   Mahmoud|     Andrieu|       Male|   Training|$49659.53|
|153|    Andres|de Glanville| Polygender|   Training|$36301.53|
|219|     Isaac|      Sprott|       Male|   Training|$51845.93|
|272|   Jeanine|      Friatt|Genderqueer|   Training|$55396.91|
|329|    Magnum|    McFadden|       Male|   Training|$36970.62|
|290|     Peggi|     Bretton|     Female|   Training|$17841.43|
| 45|   Hartley|     Faughey|       Male|   Training|$86452.02|
|292|    Gayler|     Dunkirk|       Male|   Training|$44342.16|
+---+----------+------------+-----------+-----------+---------+
only showing top 20 rows

In [53]:
df.sort(df.last_name.desc()).show()

+---+----------+------------+-----------+--------------------+---------+
| id|first_name|   last_name|     gender|         departments|   salary|
+---+----------+------------+-----------+--------------------+---------+
|652|    Sutton|  de Villier|       Male|          Accounting|$10399.76|
|153|    Andres|de Glanville| Polygender|            Training|$36301.53|
|194|     Kathy|    Zuanazzi|Genderfluid|  Product Management|$48079.17|
|923|   Pauline|   Zimmerman|     Female|             Support|$83541.95|
|744|    Rhodia|      Zambon|     Female|            Training|$83726.33|
|813|   Jeniece|      Yurlov|     Female|     Human Resources|$79315.83|
|503|   Charity|       Yurin|     Female|     Human Resources|$93541.70|
|148|  Garnette|      Yarham|     Female|            Services|$61182.16|
|994|   Cornela|        Yard|     Female|               Sales|$10599.82|
|206|    Marthe|        Yapp|     Female|         Engineering|$86841.35|
|579|Gabriellia|       Yanez|     Female|             Support|$31364.65|
|717|  Mortimer|   Wynrehame|       Male|               Sales|$28313.70|
|134|     Ivett|       Wyatt|     Female|Research and Deve...|$23667.84|
|986|    Simone|        Wurz|     Female|Business Development|$56320.89|
|131|   Desmund|   Wrightham| Non-binary|Business Development|$18378.55|
|940| Sanderson|   Worcester|       Male|          Accounting|$60994.18|
|239|   Chloris|     Woosnam|     Female|  Product Management|$10550.85|
| 24|      Kris|   Woolliams|     Female|Business Development|$27559.77|
|189|     Leola|  Woollaston|     Female|            Training|$47627.00|
|298|    Arleta|     Woodyer|     Female|             Support|$84675.03|
+---+----------+------------+-----------+--------------------+---------+
only showing top 20 rows

In [54]:
df.sort(df.first_name,df.departments.desc()).show()

+---+----------+-----------+------+--------------------+---------+
| id|first_name|  last_name|gender|         departments|   salary|
+---+----------+-----------+------+--------------------+---------+
| 25|   Abagail| Trowbridge|Female|            Training|$24588.29|
|390|     Abbey| Spilsburie|  Male|     Human Resources|$65361.18|
|334|      Abbi|     Muscat|Female|           Marketing|$60297.08|
|662|     Abdul|    Knights|  Male|         Engineering|$32116.71|
|788|     Abran| Nethercott|  Male|            Training|$15081.61|
|387|   Adaline|    Isworth|Female|               Sales|$55559.02|
|934|     Addie|     Sapson|Female|Business Development|$85569.52|
|990|   Addison|      Glyde|  Male|  Product Management|$21416.12|
|357|       Ade|     Bruhke|  Male|            Training|$45017.42|
|410|   Adelind|     Toulch|Female|Business Development|$54726.98|
|763|     Adham|    Sedgman|  Male|            Services|$47049.29|
| 73|     Adrea|    Barnett|Female|               Sales|$31957.59|
| 28|     Adrea|    O'Devey|Female|           Marketing|$58994.30|
|509|  Adriaens|  MacKibbon|Female|     Human Resources|$20214.96|
|374|   Aeriela|   Holhouse|Female|  Product Management|$16151.71|
|414|     Agace| Fillingham|Female|               Legal|$34878.01|
|621|    Agnola|Crosthwaite|Female|          Accounting|$84983.48|
|226|   Agretha|    Treweke|Female|             Support|$93527.11|
|711|     Ailey|      Malan|Female|               Legal|$74259.82|
|553|      Alan|     Golson|  Male|               Legal|$16616.99|
+---+----------+-----------+------+--------------------+---------+
only showing top 20 rows

In [56]:
df.select("first_name","departments").show()

+----------+--------------------+
|first_name|         departments|
+----------+--------------------+
|   Cordell|Business Development|
| Emmalynne|           Marketing|
|     Jesse|           Marketing|
|     Decca|           Marketing|
|       Gib|  Product Management|
|      Drew|               Sales|
|  Anabelle|         Engineering|
|  Veronika|     Human Resources|
|    Anthia|             Support|
|    Keelby|               Legal|
|  Rochette|            Training|
|    Kippie|             Support|
|    Andeee|Business Development|
|       Kim|     Human Resources|
|   Deloris|           Marketing|
|      Arny|         Engineering|
|  Andriana|  Product Management|
|    Olenka|               Legal|
|      Burk|Business Development|
|    Hewitt|Research and Deve...|
+----------+--------------------+
only showing top 20 rows

In [57]:
df.withColumn('New Salary',df['Salary']+2000).show()

+---+----------+----------+------+--------------------+---------+----------+
| id|first_name| last_name|gender|         departments|   salary|New Salary|
+---+----------+----------+------+--------------------+---------+----------+
|  1|   Cordell|Kitchenham|  Male|Business Development|$18137.19|      null|
|  2| Emmalynne|Fearnsides|Female|           Marketing|$64524.97|      null|
|  3|     Jesse|   Hekkert|  Male|           Marketing|$51168.20|      null|
|  4|     Decca|   Klimsch|  Male|           Marketing|$17827.51|      null|
|  5|       Gib|Le Pruvost|  Male|  Product Management|$40026.02|      null|
|  6|      Drew|  Shenfish|  Male|               Sales|$75958.90|      null|
|  7|  Anabelle|   Burhill|Female|         Engineering|$60063.17|      null|
|  8|  Veronika|   Forryan|Female|     Human Resources|$44482.07|      null|
|  9|    Anthia|    Monini|Female|             Support|$81976.47|      null|
| 10|    Keelby|   McCahey|  Male|               Legal|$60125.48|      null|
| 11|  Rochette|   Bullick|Female|            Training|$92893.76|      null|
| 12|    Kippie|   Duckham|  Male|             Support|$63932.62|      null|
| 13|    Andeee|   Hanscom|Female|Business Development|$67861.20|      null|
| 14|       Kim|    Seymer|Female|     Human Resources|$70413.48|      null|
| 15|   Deloris|   Gabbett|Female|           Marketing|$40341.41|      null|
| 16|      Arny|    Gravie|  Male|         Engineering|$58095.96|      null|
| 17|  Andriana|   Swalwel|Female|  Product Management|$67978.97|      null|
| 18|    Olenka|     Ehrat|Female|               Legal|$57446.44|      null|
| 19|      Burk| Sallenger|  Male|Business Development|$22310.30|      null|
| 20|    Hewitt|   Dunnett|  Male|Research and Deve...|$88120.12|      null|
+---+----------+----------+------+--------------------+---------+----------+
only showing top 20 rows

In [58]:
df.drop('New Salary').show()

+---+----------+----------+------+--------------------+---------+
| id|first_name| last_name|gender|         departments|   salary|
+---+----------+----------+------+--------------------+---------+
|  1|   Cordell|Kitchenham|  Male|Business Development|$18137.19|
|  2| Emmalynne|Fearnsides|Female|           Marketing|$64524.97|
|  3|     Jesse|   Hekkert|  Male|           Marketing|$51168.20|
|  4|     Decca|   Klimsch|  Male|           Marketing|$17827.51|
|  5|       Gib|Le Pruvost|  Male|  Product Management|$40026.02|
|  6|      Drew|  Shenfish|  Male|               Sales|$75958.90|
|  7|  Anabelle|   Burhill|Female|         Engineering|$60063.17|
|  8|  Veronika|   Forryan|Female|     Human Resources|$44482.07|
|  9|    Anthia|    Monini|Female|             Support|$81976.47|
| 10|    Keelby|   McCahey|  Male|               Legal|$60125.48|
| 11|  Rochette|   Bullick|Female|            Training|$92893.76|
| 12|    Kippie|   Duckham|  Male|             Support|$63932.62|
| 13|    Andeee|   Hanscom|Female|Business Development|$67861.20|
| 14|       Kim|    Seymer|Female|     Human Resources|$70413.48|
| 15|   Deloris|   Gabbett|Female|           Marketing|$40341.41|
| 16|      Arny|    Gravie|  Male|         Engineering|$58095.96|
| 17|  Andriana|   Swalwel|Female|  Product Management|$67978.97|
| 18|    Olenka|     Ehrat|Female|               Legal|$57446.44|
| 19|      Burk| Sallenger|  Male|Business Development|$22310.30|
| 20|    Hewitt|   Dunnett|  Male|Research and Deve...|$88120.12|
+---+----------+----------+------+--------------------+---------+
only showing top 20 rows