## Spark installtion

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\kinja\appdata\roaming\python\python311\site-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\kinja\appdata\roaming\python\python311\site-packages (from pyspark) (0.10.9.7)

In [2]:
!pip install findspark

Requirement already satisfied: findspark in c:\users\kinja\appdata\roaming\python\python311\site-packages (2.0.1)

In [3]:
pip show pyspark

Name: pyspark
Version: 3.4.1
Summary: Apache Spark Python API
Home-page: https://github.com/apache/spark/tree/master/python
Author: Spark Developers
Author-email: dev@spark.apache.org
License: http://www.apache.org/licenses/LICENSE-2.0
Location: C:\Users\kinja\AppData\Roaming\Python\Python311\site-packages
Requires: py4j
Required-by:
Note: you may need to restart the kernel to use updated packages.

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName('Data').getOrCreate()

In [6]:
spark

In [7]:
# read the dataset
spark.read.option('header','true').csv('D:/Hiral/Study/PySpark/test1.csv').show()

+---+------+---------------+----+------+
| ID|  Name|Department_Name|City|Salary|
+---+------+---------------+----+------+
|  1| Sagar|            CSE|  UP| 10000|
|  2|Shivam|             IT|  MP| 15000|
|  3|  Muni|           Mech|  AP| 25000|
+---+------+---------------+----+------+

In [8]:
df = spark.read.option('header','true').csv('D:/Hiral/Study/PySpark/test1.csv')
df.show()

+---+------+---------------+----+------+
| ID|  Name|Department_Name|City|Salary|
+---+------+---------------+----+------+
|  1| Sagar|            CSE|  UP| 10000|
|  2|Shivam|             IT|  MP| 15000|
|  3|  Muni|           Mech|  AP| 25000|
+---+------+---------------+----+------+

In [9]:
type(df)

pyspark.sql.dataframe.DataFrame

In [10]:
df.printSchema()

root
 |-- ID: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Department_Name: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Salary: string (nullable = true)

In [11]:
# check the column name 
df.columns

['ID', 'Name', 'Department_Name', 'City', 'Salary']

In [12]:
# dispaly first 2 records
df.head(2)

[Row(ID='1', Name='Sagar', Department_Name='CSE', City='UP', Salary='10000'),
 Row(ID='2', Name='Shivam', Department_Name='IT', City='MP', Salary='15000')]

In [13]:
# select any particular filed 
df.select("Name").show()

+------+
|  Name|
+------+
| Sagar|
|Shivam|
|  Muni|
+------+

In [14]:
# display column data types
df.dtypes

[('ID', 'string'),
 ('Name', 'string'),
 ('Department_Name', 'string'),
 ('City', 'string'),
 ('Salary', 'string')]

In [15]:
df.describe().show()

+-------+---+------+---------------+----+------------------+
|summary| ID|  Name|Department_Name|City|            Salary|
+-------+---+------+---------------+----+------------------+
|  count|  3|     3|              3|   3|                 3|
|   mean|2.0|  null|           null|null|16666.666666666668|
| stddev|1.0|  null|           null|null| 7637.626158259733|
|    min|  1|  Muni|            CSE|  AP|             10000|
|    max|  3|Shivam|           Mech|  UP|             25000|
+-------+---+------+---------------+----+------------------+

In [16]:
# drop the any filed 
df.drop("Name").show()

+---+---------------+----+------+
| ID|Department_Name|City|Salary|
+---+---------------+----+------+
|  1|            CSE|  UP| 10000|
|  2|             IT|  MP| 15000|
|  3|           Mech|  AP| 25000|
+---+---------------+----+------+

In [17]:
# recreate drop filed 
df.na.drop().show()

+---+------+---------------+----+------+
| ID|  Name|Department_Name|City|Salary|
+---+------+---------------+----+------+
|  1| Sagar|            CSE|  UP| 10000|
|  2|Shivam|             IT|  MP| 15000|
|  3|  Muni|           Mech|  AP| 25000|
+---+------+---------------+----+------+

In [18]:
# rename any one column
df.withColumnRenamed("Department_Name" ,"dept").show()

+---+------+----+----+------+
| ID|  Name|dept|City|Salary|
+---+------+----+----+------+
|  1| Sagar| CSE|  UP| 10000|
|  2|Shivam|  IT|  MP| 15000|
|  3|  Muni|Mech|  AP| 25000|
+---+------+----+----+------+

In [19]:
# multiple column rename 
df.withColumnRenamed("Department_Name","dept").withColumnRenamed("Name","fname").show()

+---+------+----+----+------+
| ID| fname|dept|City|Salary|
+---+------+----+----+------+
|  1| Sagar| CSE|  UP| 10000|
|  2|Shivam|  IT|  MP| 15000|
|  3|  Muni|Mech|  AP| 25000|
+---+------+----+----+------+

In [20]:
df.na.drop(how='all').show()

+---+------+---------------+----+------+
| ID|  Name|Department_Name|City|Salary|
+---+------+---------------+----+------+
|  1| Sagar|            CSE|  UP| 10000|
|  2|Shivam|             IT|  MP| 15000|
|  3|  Muni|           Mech|  AP| 25000|
+---+------+---------------+----+------+

In [21]:
df.na.drop(how='all',thresh=2).show()

+---+------+---------------+----+------+
| ID|  Name|Department_Name|City|Salary|
+---+------+---------------+----+------+
|  1| Sagar|            CSE|  UP| 10000|
|  2|Shivam|             IT|  MP| 15000|
|  3|  Muni|           Mech|  AP| 25000|
+---+------+---------------+----+------+

In [22]:
df.na.drop(how='all',subset=['Salary']).show()

+---+------+---------------+----+------+
| ID|  Name|Department_Name|City|Salary|
+---+------+---------------+----+------+
|  1| Sagar|            CSE|  UP| 10000|
|  2|Shivam|             IT|  MP| 15000|
|  3|  Muni|           Mech|  AP| 25000|
+---+------+---------------+----+------+

In [23]:
df.na.fill('Missing Value',['Salary']).show()

+---+------+---------------+----+------+
| ID|  Name|Department_Name|City|Salary|
+---+------+---------------+----+------+
|  1| Sagar|            CSE|  UP| 10000|
|  2|Shivam|             IT|  MP| 15000|
|  3|  Muni|           Mech|  AP| 25000|
+---+------+---------------+----+------+

## Aggregate Functions

In [24]:
df.filter('Salary<=15000').show()

+---+------+---------------+----+------+
| ID|  Name|Department_Name|City|Salary|
+---+------+---------------+----+------+
|  1| Sagar|            CSE|  UP| 10000|
|  2|Shivam|             IT|  MP| 15000|
+---+------+---------------+----+------+

In [25]:
df.filter('Salary<=15000').select(['Name','Department_Name']).show()

+------+---------------+
|  Name|Department_Name|
+------+---------------+
| Sagar|            CSE|
|Shivam|             IT|
+------+---------------+

In [26]:
df.filter(df['Salary']<=20000).show()

+---+------+---------------+----+------+
| ID|  Name|Department_Name|City|Salary|
+---+------+---------------+----+------+
|  1| Sagar|            CSE|  UP| 10000|
|  2|Shivam|             IT|  MP| 15000|
+---+------+---------------+----+------+

In [27]:
df.groupby('Salary').sum().show()

+------+
|Salary|
+------+
| 10000|
| 25000|
| 15000|
+------+

In [28]:
df.groupby('Salary').sum().show()

+------+
|Salary|
+------+
| 10000|
| 25000|
| 15000|
+------+

In [29]:
df.groupby('Salary').mean().show()

+------+
|Salary|
+------+
| 10000|
| 25000|
| 15000|
+------+

In [30]:
df.groupby('Salary').count().show()

+------+-----+
|Salary|count|
+------+-----+
| 10000|    1|
| 25000|    1|
| 15000|    1|
+------+-----+

In [31]:
df.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|    50000.0|
+-----------+

In [32]:
df.groupby('Department_Name').max().show()

+---------------+
|Department_Name|
+---------------+
|             IT|
|           Mech|
|            CSE|
+---------------+

In [33]:
df.groupby('Department_Name').min().show()

+---------------+
|Department_Name|
+---------------+
|             IT|
|           Mech|
|            CSE|
+---------------+

In [34]:
df.groupby('Name').avg().show()

+------+
|  Name|
+------+
|Shivam|
|  Muni|
| Sagar|
+------+

In [35]:
df.orderBy('Name').show()

+---+------+---------------+----+------+
| ID|  Name|Department_Name|City|Salary|
+---+------+---------------+----+------+
|  3|  Muni|           Mech|  AP| 25000|
|  1| Sagar|            CSE|  UP| 10000|
|  2|Shivam|             IT|  MP| 15000|
+---+------+---------------+----+------+

In [36]:
df.sort("Department_Name", ascending=False).show()

+---+------+---------------+----+------+
| ID|  Name|Department_Name|City|Salary|
+---+------+---------------+----+------+
|  3|  Muni|           Mech|  AP| 25000|
|  2|Shivam|             IT|  MP| 15000|
|  1| Sagar|            CSE|  UP| 10000|
+---+------+---------------+----+------+

In [37]:
df.orderBy(df.Department_Name.desc()).show()

+---+------+---------------+----+------+
| ID|  Name|Department_Name|City|Salary|
+---+------+---------------+----+------+
|  3|  Muni|           Mech|  AP| 25000|
|  2|Shivam|             IT|  MP| 15000|
|  1| Sagar|            CSE|  UP| 10000|
+---+------+---------------+----+------+

In [38]:
df.sort(df.Name.desc()).show()

+---+------+---------------+----+------+
| ID|  Name|Department_Name|City|Salary|
+---+------+---------------+----+------+
|  2|Shivam|             IT|  MP| 15000|
|  1| Sagar|            CSE|  UP| 10000|
|  3|  Muni|           Mech|  AP| 25000|
+---+------+---------------+----+------+

In [39]:
df.sort(df.Name,df.Department_Name.desc()).show()

+---+------+---------------+----+------+
| ID|  Name|Department_Name|City|Salary|
+---+------+---------------+----+------+
|  3|  Muni|           Mech|  AP| 25000|
|  1| Sagar|            CSE|  UP| 10000|
|  2|Shivam|             IT|  MP| 15000|
+---+------+---------------+----+------+

In [40]:
df.select("Name","Department_Name").show()

+------+---------------+
|  Name|Department_Name|
+------+---------------+
| Sagar|            CSE|
|Shivam|             IT|
|  Muni|           Mech|
+------+---------------+

In [41]:
df.withColumn('New Salary',df['Salary']+2000).show()

+---+------+---------------+----+------+----------+
| ID|  Name|Department_Name|City|Salary|New Salary|
+---+------+---------------+----+------+----------+
|  1| Sagar|            CSE|  UP| 10000|   12000.0|
|  2|Shivam|             IT|  MP| 15000|   17000.0|
|  3|  Muni|           Mech|  AP| 25000|   27000.0|
+---+------+---------------+----+------+----------+

In [42]:
df.drop('New Salary').show()

+---+------+---------------+----+------+
| ID|  Name|Department_Name|City|Salary|
+---+------+---------------+----+------+
|  1| Sagar|            CSE|  UP| 10000|
|  2|Shivam|             IT|  MP| 15000|
|  3|  Muni|           Mech|  AP| 25000|
+---+------+---------------+----+------+

In [43]:
# dropDuplicates() function which returns a new DataFrame after removing duplicate rows.
df = df.dropDuplicates()
print("Distinct count: "+str(df.count()))
df.show(truncate=False)

Distinct count: 3
+---+------+---------------+----+------+
|ID |Name  |Department_Name|City|Salary|
+---+------+---------------+----+------+
|3  |Muni  |Mech           |AP  |25000 |
|2  |Shivam|IT             |MP  |15000 |
|1  |Sagar |CSE            |UP  |10000 |
+---+------+---------------+----+------+

In [44]:
# Applying distinct() to remove duplicate rows
df = df.distinct()
print("Distinct count: "+str(df.count()))
df.show(truncate=False)

Distinct count: 3
+---+------+---------------+----+------+
|ID |Name  |Department_Name|City|Salary|
+---+------+---------------+----+------+
|3  |Muni  |Mech           |AP  |25000 |
|2  |Shivam|IT             |MP  |15000 |
|1  |Sagar |CSE            |UP  |10000 |
+---+------+---------------+----+------+

In [45]:
# first() function returns the first element in a column when ignoreNulls is set to true, it returns the first non-null element.
from pyspark.sql.functions import first
df.select(first("salary")).show(truncate=False)

+-------------+
|first(salary)|
+-------------+
|10000        |
+-------------+

In [46]:
# last() function returns the last element in a column. when ignoreNulls is set to true, it returns the last non-null element.
from pyspark.sql.functions import last
df.select(last("Salary")).show(truncate=False)

+------------+
|last(Salary)|
+------------+
|25000       |
+------------+

In [47]:
# approx_count_distinct() function returns the count of distinct items in a group.
from pyspark.sql.functions import approx_count_distinct
print("approx_count_distinct: " + \
      str(df.select(approx_count_distinct("Department_Name")).collect()[0][0]))

approx_count_distinct: 3

In [48]:
# avg() function returns the average of values in the input column.
from pyspark.sql.functions import avg
print("avg: " + str(df.select(avg("salary")).collect()[0][0]))

avg: 16666.666666666668

In [49]:
# collect_set() function returns all values from an input column with duplicate values eliminated.
from pyspark.sql.functions import collect_set
df.select(collect_set("Department_Name")).show(truncate=False)

+----------------------------+
|collect_set(Department_Name)|
+----------------------------+
|[Mech, IT, CSE]             |
+----------------------------+

In [50]:
# count() function returns number of elements in a column.
from pyspark.sql.functions import count
print("count: "+str(df.select(count("Department_Name")).collect()[0]))

count: Row(count(Department_Name)=3)

In [51]:
# kurtosis() function returns the kurtosis of the values in a group.
from pyspark.sql.functions import kurtosis
df.select(kurtosis("Salary")).show(truncate=False)

+-------------------+
|kurtosis(Salary)   |
+-------------------+
|-1.4999999999999998|
+-------------------+

In [52]:
# max() function returns the maximum value in a column.
from pyspark.sql.functions import max
df.select(max("Salary")).show(truncate=False)

+-----------+
|max(Salary)|
+-----------+
|25000      |
+-----------+

In [53]:
# min() function returns the minimum value in a column.
from pyspark.sql.functions import min
df.select(min("Salary")).show()

+-----------+
|min(Salary)|
+-----------+
|      10000|
+-----------+

In [54]:
# mean() function returns the average of the values in a column. Alias for Avg
from pyspark.sql.functions import mean 
df.select(mean("Salary")).show()

+------------------+
|       avg(Salary)|
+------------------+
|16666.666666666668|
+------------------+

In [55]:
# skewness() function returns the skewness of the values in a group.
from pyspark.sql.functions import skewness
df.select(skewness("Salary")).show()

+-------------------+
|   skewness(Salary)|
+-------------------+
|0.38180177416060607|
+-------------------+

In [56]:
# stddev() alias for stddev_samp.
# stddev_samp() function returns the sample standard deviation of values in a column.
# stddev_pop() function returns the population standard deviation of the values in a column.

from pyspark.sql.functions import stddev,stddev_samp,stddev_pop
df.select(stddev("Salary"),stddev_samp("Salary"),stddev_pop("Salary")).show(truncate=False)

+-------------------+-------------------+------------------+
|stddev_samp(Salary)|stddev_samp(Salary)|stddev_pop(Salary)|
+-------------------+-------------------+------------------+
|7637.626158259733  |7637.626158259733  |6236.095644623236 |
+-------------------+-------------------+------------------+

In [57]:
# sum() function Returns the sum of all values in a column.
from pyspark.sql.functions import sum
df.select(sum("Salary")).show()

+-----------+
|sum(Salary)|
+-----------+
|    50000.0|
+-----------+

In [58]:
# sumDistinct() function returns the sum of all distinct values in a column.
from pyspark.sql.functions import sumDistinct
df.select(sumDistinct("Salary")).show()

C:\Users\kinja\AppData\Roaming\Python\Python311\site-packages\pyspark\sql\functions.py:752: FutureWarning: Deprecated in 3.2, use sum_distinct instead.
  warnings.warn("Deprecated in 3.2, use sum_distinct instead.", FutureWarning)

+--------------------+
|sum(DISTINCT Salary)|
+--------------------+
|             50000.0|
+--------------------+

In [59]:
# variance() alias for var_samp
# var_samp() function returns the unbiased variance of the values in a column.
# var_pop() function returns the population variance of the values in a column.
from pyspark.sql.functions import variance,var_samp,var_pop
df.select(variance("Salary"),var_samp("Salary"),var_pop("Salary")).show()

+-------------------+-------------------+-------------------+
|   var_samp(Salary)|   var_samp(Salary)|    var_pop(Salary)|
+-------------------+-------------------+-------------------+
|5.833333333333333E7|5.833333333333333E7|3.888888888888889E7|
+-------------------+-------------------+-------------------+

## Window Functions

In [60]:
# row_number() window function gives the sequential row number starting from 1 to the result of each window partition.
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number
windowSpec = Window.partitionBy("Department_Name").orderBy("Salary")
df.withColumn("row_number",row_number().over(windowSpec)).show(truncate=False)

+---+------+---------------+----+------+----------+
|ID |Name  |Department_Name|City|Salary|row_number|
+---+------+---------------+----+------+----------+
|1  |Sagar |CSE            |UP  |10000 |1         |
|2  |Shivam|IT             |MP  |15000 |1         |
|3  |Muni  |Mech           |AP  |25000 |1         |
+---+------+---------------+----+------+----------+

In [61]:
# rank() window function provides a rank to the result within a window partition. This function leaves gaps in rank when there are ties.
from pyspark.sql.functions import rank
df.withColumn("rank",rank().over(windowSpec)).show()

+---+------+---------------+----+------+----+
| ID|  Name|Department_Name|City|Salary|rank|
+---+------+---------------+----+------+----+
|  1| Sagar|            CSE|  UP| 10000|   1|
|  2|Shivam|             IT|  MP| 15000|   1|
|  3|  Muni|           Mech|  AP| 25000|   1|
+---+------+---------------+----+------+----+

In [62]:
# dense_rank() window function is used to get the result with rank of rows within a window partition without any gaps.
from pyspark.sql.functions import dense_rank 
df.withColumn("dense_rank",dense_rank().over(windowSpec)).show()

+---+------+---------------+----+------+----------+
| ID|  Name|Department_Name|City|Salary|dense_rank|
+---+------+---------------+----+------+----------+
|  1| Sagar|            CSE|  UP| 10000|         1|
|  2|Shivam|             IT|  MP| 15000|         1|
|  3|  Muni|           Mech|  AP| 25000|         1|
+---+------+---------------+----+------+----------+

In [63]:
# percent_rank()
from pyspark.sql.functions import percent_rank
df.withColumn("percent_rank",percent_rank().over(windowSpec)).show()

+---+------+---------------+----+------+------------+
| ID|  Name|Department_Name|City|Salary|percent_rank|
+---+------+---------------+----+------+------------+
|  1| Sagar|            CSE|  UP| 10000|         0.0|
|  2|Shivam|             IT|  MP| 15000|         0.0|
|  3|  Muni|           Mech|  AP| 25000|         0.0|
+---+------+---------------+----+------+------------+

In [64]:
# ntile() window function returns the relative rank of result rows within a window partition.
from pyspark.sql.functions import ntile
df.withColumn("ntile",ntile(2).over(windowSpec)).show()

+---+------+---------------+----+------+-----+
| ID|  Name|Department_Name|City|Salary|ntile|
+---+------+---------------+----+------+-----+
|  1| Sagar|            CSE|  UP| 10000|    1|
|  2|Shivam|             IT|  MP| 15000|    1|
|  3|  Muni|           Mech|  AP| 25000|    1|
+---+------+---------------+----+------+-----+

In [65]:
# cume_dist() This function computes the cumulative distribution of a value within a window partition.
from pyspark.sql.functions import cume_dist
df.withColumn("cume_dist",cume_dist().over(windowSpec)).show()

+---+------+---------------+----+------+---------+
| ID|  Name|Department_Name|City|Salary|cume_dist|
+---+------+---------------+----+------+---------+
|  1| Sagar|            CSE|  UP| 10000|      1.0|
|  2|Shivam|             IT|  MP| 15000|      1.0|
|  3|  Muni|           Mech|  AP| 25000|      1.0|
+---+------+---------------+----+------+---------+

In [66]:
# lag() function allows you to access a previous rowâ€™s value within the partition based on a specified offset. 
from pyspark.sql.functions import lag
df.withColumn("lag",lag("Salary",2).over(windowSpec)).show()

+---+------+---------------+----+------+----+
| ID|  Name|Department_Name|City|Salary| lag|
+---+------+---------------+----+------+----+
|  1| Sagar|            CSE|  UP| 10000|null|
|  2|Shivam|             IT|  MP| 15000|null|
|  3|  Muni|           Mech|  AP| 25000|null|
+---+------+---------------+----+------+----+

In [67]:
# lead() function retrieves the column value from the following row within the partition based on a specified offset. 
from pyspark.sql.functions import lead    
df.withColumn("lead",lead("salary",2).over(windowSpec)).show()

+---+------+---------------+----+------+----+
| ID|  Name|Department_Name|City|Salary|lead|
+---+------+---------------+----+------+----+
|  1| Sagar|            CSE|  UP| 10000|null|
|  2|Shivam|             IT|  MP| 15000|null|
|  3|  Muni|           Mech|  AP| 25000|null|
+---+------+---------------+----+------+----+

## Create sql table in pyspark

In [68]:
# create sql table 
df.createOrReplaceTempView("Emp")
df.show()

+---+------+---------------+----+------+
| ID|  Name|Department_Name|City|Salary|
+---+------+---------------+----+------+
|  3|  Muni|           Mech|  AP| 25000|
|  2|Shivam|             IT|  MP| 15000|
|  1| Sagar|            CSE|  UP| 10000|
+---+------+---------------+----+------+

In [69]:
# select column from the table 
df.select("Name","Department_Name","Salary").show()

+------+---------------+------+
|  Name|Department_Name|Salary|
+------+---------------+------+
|  Muni|           Mech| 25000|
|Shivam|             IT| 15000|
| Sagar|            CSE| 10000|
+------+---------------+------+

In [70]:
# sql where clause
df.select("Name","Department_Name","Salary").where("Department_Name = 'IT'").show()

+------+---------------+------+
|  Name|Department_Name|Salary|
+------+---------------+------+
|Shivam|             IT| 15000|
+------+---------------+------+

In [71]:
# Sql order by
df.select("Name","Department_Name","Salary").where("Department_Name in ('CSE','IT','Mech')").orderBy("Department_Name").show()

+------+---------------+------+
|  Name|Department_Name|Salary|
+------+---------------+------+
| Sagar|            CSE| 10000|
|Shivam|             IT| 15000|
|  Muni|           Mech| 25000|
+------+---------------+------+

In [72]:
# Select all the columns 
df.select("*").show()

+---+------+---------------+----+------+
| ID|  Name|Department_Name|City|Salary|
+---+------+---------------+----+------+
|  3|  Muni|           Mech|  AP| 25000|
|  2|Shivam|             IT|  MP| 15000|
|  1| Sagar|            CSE|  UP| 10000|
+---+------+---------------+----+------+

In [73]:
# group by 
df.groupby("Department_Name").count().show()

+---------------+-----+
|Department_Name|count|
+---------------+-----+
|             IT|    1|
|           Mech|    1|
|            CSE|    1|
+---------------+-----+

In [74]:
# alias 
from pyspark.sql.functions import when,col
from pyspark.sql import functions as F
df.select(F.col("Department_Name")).show()

+---------------+
|Department_Name|
+---------------+
|           Mech|
|             IT|
|            CSE|
+---------------+

## PySpark SQL Date and Timestamp Functions

## PySpark SQL Types (DataType)

In [75]:
from pyspark.sql.types import ArrayType, IntegerType
arrayType = ArrayType(IntegerType(),False)
print(arrayType.jsonValue())
print(arrayType.simpleString())
print(arrayType.typeName())

{'type': 'array', 'elementType': 'integer', 'containsNull': False}
array<int>
array

In [76]:
# Use ArrayType to represent arrays in a DataFrame and use ArrayType() to get an array object of a specific type.
from pyspark.sql.types import ArrayType, IntegerType
arrayType = ArrayType(IntegerType(),False)
print(arrayType.containsNull)
print(arrayType.elementType)

False
IntegerType()

In [77]:
# Use MapType to represent key-value pair in a DataFrame. Use MapType() to get a map object of a specific key and value type.
from pyspark.sql.types import MapType,StringType,IntegerType
mapType = MapType(StringType(),IntegerType())
 
print(mapType.keyType)
print(mapType.valueType)
print(mapType.valueContainsNull)

StringType()
IntegerType()
True

## How to create RDD

In [78]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [79]:
rdds = spark.sparkContext.parallelize([('Mumbai',1),('Pune',2),('Surat',3)])

In [80]:
rdds

ParallelCollectionRDD[485] at readRDDFromFile at PythonRDD.scala:274

In [81]:
rdds.collect()

[('Mumbai', 1), ('Pune', 2), ('Surat', 3)]

In [82]:
# Create spark session with local[5]
rdd = spark.sparkContext.parallelize(range(0,20))
print("From local[5] : "+str(rdd.getNumPartitions()))

From local[5] : 12

In [83]:
# Use parallelize with 6 partitions
rdd1 = spark.sparkContext.parallelize(range(0,25), 6)
print("parallelize : "+str(rdd1.getNumPartitions()))

rddFromFile = spark.sparkContext.textFile("D:/Hiral/Study/PySpark/test1.csv",10)
print("TextFile : "+str(rddFromFile.getNumPartitions()))

parallelize : 6
TextFile : 11

In [84]:
# DataFrame coalesce() is used only to decrease the number of partitions.
df3 = df.coalesce(2)
print(df3.rdd.getNumPartitions())

1

In [85]:
# the PySpark DataFrame repartition() method is used to increase or decrease the partitions.
df2 = df.repartition(6)
print(df2.rdd.getNumPartitions())

6

In [86]:
#Creates Empty RDD
emptyRDD = spark.sparkContext.emptyRDD()
print(emptyRDD)

EmptyRDD[512] at emptyRDD at NativeMethodAccessorImpl.java:0

In [87]:
#Creates Empty RDD using parallelize
rdd = spark.sparkContext.parallelize([])
print(rdd)

ParallelCollectionRDD[513] at readRDDFromFile at PythonRDD.scala:274

In [88]:
#Create Schema
from pyspark.sql.types import StructType,StructField, StringType
schema = StructType([
  StructField('firstname', StringType(), True),
  StructField('middlename', StringType(), True),
  StructField('lastname', StringType(), True)
  ])
print(schema)

StructType([StructField('firstname', StringType(), True), StructField('middlename', StringType(), True), StructField('lastname', StringType(), True)])

In [89]:
# Check if a column exists
if "Name" in df.columns:
    print("Column 'Name' exists in the DataFrame.")
else:
    print("Column 'Name' does not exist in the DataFrame.")

Column 'Name' exists in the DataFrame.

In [91]:
from pyspark.sql.functions import when
df2 = df.withColumn("City", when(df.City == "M","Male")
                                 .when(df.City == "F","Female")
                                 .when(df.City.isNull() ,"")
                                 .otherwise(df.City))

In [2]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField, StringType, IntegerType
# Create a SparkSession
spark = SparkSession.builder.getOrCreate()

# Define the data as a list of tuples
data = [("John", 25), ("Alice", 30), ("Bob", 35)]
print(type(data))

schema = StructType([ \
    StructField("Name",StringType(),True), \
    StructField("Age", IntegerType(), True) \
  ])


# Create a DataFrame from the data
df = spark.createDataFrame(data=data, schema=schema)

# Show the DataFrame
df.show()

<class 'list'>

TypeError: 'JavaPackage' object is not callable

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=pyspark-shell, master=local) created by __init__ at C:\Users\kinja\AppData\Local\Temp\ipykernel_20800\4106845886.py:2

TypeError: 'JavaPackage' object is not callable